<%- include ./partials/_header.ejs %>
<body>
    <%- include ./partials/_navbar %>
        <div class="container">
            <%- body %>
        </div>
    <%- include ./partials/_footer %>
    <%- include ./partials/_scripts %>
</body>
