<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta Tags for Bootstrap 4 -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap 4 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</head>

<body style="font-family: 'Amita'">
<!-- Start of Card Deck Layout -->
<div style="width: 100%;">
<%- include ./partials/_navbar.ejs %>
</div>
<div style="padding: 50px;"></div>
<div class="card-deck" style="width: 90%; padding-left: 30%;">

		<div class="card">
			<img class="card-img-top" src="https://picsum.photos/500/300/?image=<%=Math.floor(Math.random()*50) %>" alt="Card image cap">
			<div class="card-body">
				<h4 class="card-title" href='www.google.com'><%= property.property_name %>
</h4>
				<p class="card-text"> <%= property.detailed_description %> </p>
			</div>
			<div class="card-footer">
				<small class="text-muted">£<%= property.price_per_night %> per night<br>
          <%= property.guests %> guests<br>
          <%= property.beds %> beds<br>
          <%= property.bath %> bathrooms<br>
          Date available: <%= property.date_available %><br>
          Available until: <%= property.available_until %><br><br>
        </small>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Contact host
        </button>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact the host ;-) </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" action="/property/sendemail" method="post" id="add_property-form">

                <div class="form-group">
                  <label>Lead guest's name:</label>
                  <input type="text" class="form-control" name="property_name">
                </div>

                <div class="form-group">
                  <label>Group details:</label>
                </div>

                <div style="width: 50%; padding-left: 50px; padding-top: 0px;">
                  <label>Number of adults:</label>
                    <input type="number" class="form-control" name="guests" value=""><br>
                </div>

                <div style="width: 50%; padding-left: 50px; padding-top: 0px;">
                  <label>Number of children:</label>
                    <input type="number" class="form-control" name="guests" value=""><br>
                </div>

                <div class="form-group">
                  <label>Date of arrival:</label>
                  <input type="date" class="form-control" name="date_available">
                </div>

                <div class="form-group">
                  <label>Date of departure:</label>
                  <input type="date" class="form-control" name="available_until">
                </div>

                <div class="form-group">
                  <label>Contact email:</label>
                  <input type="email" class="form-control" name="email_address">
                </div>
								<div class="form-group">
									<input type="text" name="test" value="<%= property.email_address %>">
								</div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send booking request</button>
              </form>

              </div>
            </div>
          </div>
        </div>
			</div>
		</div>

</body>
</html>
